.App {
  text-align: center;
  background-color: #61dafb;
  height: 100vh;
  overflow-y: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  position: fixed;
  z-index: 20;
  width: 100%;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.basic-button{
  color: white;
  text-decoration: none;
  background-color: #61dafb;
  border-color: #754fa0;
  border-radius: 2vh;
  font-weight: 600;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-body{
  position: relative;
  z-index: 800;
  background-color: #61dafb;
  margin-top: 5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.route-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.route-wrapper > div {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
}
